.footer-dark {
    margin-top: 25px;
    padding: 40px 0px;
    color:#d6ebf9;
    background-color:#182431;
    text-align: center;
  }

  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 10px;
    color:#fff;
    opacity:0.75;
  }
  